.filter-section {
  display: flex;
  justify-content: flex-start;
  gap: 60px;
  margin: 10px 0;


  .filter-dropdown {
    position: relative;
    width: 150px;
    min-width: 150px;
    max-width: 150px;
    margin-left: 45px;

    &__button {
      width: 100%;
      margin: 20px 0;
      padding: 10px;
      border-radius: 10px;
      background-color: #fff;
      cursor: pointer;
      text-align: left;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        width: 15px;
        height: 8px;
        background: url('data:image/svg+xml;utf8,<svg width="15" height="8" viewBox="0 0 15 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 7L7.5 1L14 7" stroke="%231B1B1B" stroke-linecap="round"/></svg>') no-repeat center;
        pointer-events: none;
        transition: transform 0.3s;
      }
      &.open::after {
        transform: translateY(-50%) rotate(180deg);
      }
    }

    &:has(.filter-dropdown__menu[style*="display: block"]) .filter-dropdown__menu {
      border-radius: 0 0 4px 4px;
    }

    &:has(.filter-dropdown__menu[style*="display: block"]) .filter-dropdown__button {
      border-radius: 10px 10px 0 0;
    }

    &__menu {
      position: absolute;
      width: 113%;
      max-height: 200px;
      overflow-y: auto;
      border-radius: 4px;
      background-color: #fff;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      z-index: 1000;
      display: none;
      top: calc(100% - 20px);
      left: 0;
      box-sizing: border-box;

      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }

      -ms-overflow-style: none;
      scrollbar-width: none;
    }

    &__search-wrapper {
      display: flex;
      align-items: center;
    }
    &__searchbar {
      width: 90%;
      margin: 10px;
      padding: 10px;
      box-sizing: border-box;
      outline: none;
      box-shadow: none;
      border: solid 1px #C6C6C6;
      border-radius: 3px;
    }

    &__search-icon {
      position: absolute;
      right: 15px;
      top: 30px;
      transform: translateY(-50%);
      pointer-events: none;
    }

    &__search__clear {
      position: absolute;
      right: 35px;
      display: none;
    }

    &__search__clear.visible {
      display: inline-block;
    }


    &__item {
      padding: 10px;
      cursor: pointer;

      &:hover {
        background-color: #f0f0f0;
      }
    }
  }
}

.active-filters {
  display: flex;
  flex-direction: row;
}

.active-filter {
  background-color: #FFD15B;
  width: 130px;
  border-radius: 10px;
  margin-left: 45px;
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;

  .remove-filter {
    padding-top: 4px;
  }
}

@media (max-width: 800px) {
  .filter-section {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

.filter-dropdown__search-wrapper,
.filter-dropdown__search-icon {
  display: block;
  visibility: visible;
}