body {
  background: #EDEDED;
}

.recipe-count {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  font-weight: bold;
  font-size: 18px;

  @media (max-width: 800px) {
    justify-content: center;
  }
}

.notfound-message {
  position: absolute;
  left: 30%;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
}